<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Опублікувати новину</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="form-container">
        <h1>Опублікувати новину</h1>
        <form action="/news_form/{{ nickname }}" method="post" enctype="multipart/form-data">
            <input type="text" name="title" placeholder="Заголовок" required><br><br>
            <textarea name="text" placeholder="Текст новини" required></textarea><br><br>
            <input type="file" name="image"><br><br>
            <button type="submit" class="button">Опублікувати</button>
        </form>
    </div>
</body>
</html>
